.loader {
	border: 8px solid rgba(255, 255, 255, 0.1);
	border-left-color: #6b40e3;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
